h1{
    color:#C7CCDB;
    text-align: center;
    border:1px;
}
body{background-color:#E1E5EE;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
header{background-color:#2A324B;
font-family: luminari, fantasy;}
header{color:#14213d}
h2{color: #14213d}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #E1E5EE;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    box-shadow: -1px -1px 6px #888888;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #2A324B;
    color:#C7CCDB;
  }
  section>h2,h3 {
      text-align: center;
      color:#14213d
  }
  section>div {
      text-align: center;
  }
  footer {
      text-align: center;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  article {
    margin: 5px 0px;
    padding: 5px 5px;    
    box-shadow: -1px -1px 6px #888888;
    color: #14213d;
    }
    main>h3 {
        text-align: left;
    }
    article>p {
font-style: italic;
    }
.hours {
    text-align: center;
}