h1{
    color:#14213d;
    text-align: center;
    border:1px;
}
body{background-color:#e5e5e5;}
header{background-color:#fca311;
font-family: 'Courier New', Courier, monospace;}
header{color:#14213d}
h2{color: #14213d}
